<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Файловый аппендер -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/berezinabot.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Сохранять лог-файлы ежедневно -->
            <fileNamePattern>logs/berezinabot.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Хранить лог-файлы за последние 30 дней -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройки для корневого логгера -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Настройки логирования для конкретного пакета -->
    <logger name="com.sabinaber.berezinabot" level="debug"/>

</configuration>

